@font-face {
  font-family: pp neue montreal;
  font-style: normal;
  font-weight: 400;
  src: local('PP Neue Montreal'),
    url(woff/ppneuemontreal-book.woff) format('woff');
}
@font-face {
  font-family: pp neue montreal;
  font-style: italic;
  font-weight: 400;
  src: local('PP Neue Montreal'),
    url(woff/ppneuemontreal-italic.woff) format('woff');
}
@font-face {
  font-family: pp neue montreal;
  font-style: normal;
  font-weight: 100;
  src: local('PP Neue Montreal'),
    url(woff/ppneuemontreal-thin.woff) format('woff');
}
@font-face {
  font-family: pp neue montreal;
  font-style: normal;
  font-weight: 500;
  src: local('PP Neue Montreal'),
    url(woff/ppneuemontreal-medium.woff) format('woff');
}
@font-face {
  font-family: pp neue montreal;
  font-style: italic;
  font-weight: 600;
  src: local('PP Neue Montreal'),
    url(woff/ppneuemontreal-semibolditalic.woff) format('woff');
}
@font-face {
  font-family: pp neue montreal;
  font-style: normal;
  font-weight: 700;
  src: local('PP Neue Montreal'),
    url(woff/ppneuemontreal-bold.woff) format('woff');
}
