.progressLine {
  height: 2px;
  background-color: var(--chakra-colors-brand-main);
}

.headphoneWrapper {
  position: absolute;
  bottom: 12px;
  left: 8px;
  background-color: var(--chakra-colors-brand-main);
  padding: 6px;
  border-radius: 100%;
}

.timer {
  position: absolute;
  bottom: 12px;
  right: 8px;
  background: #000000b2;
  padding: 6px 8px;
  border-radius: 100px;
}

.repIcon {
  width: 12px;
  height: 12px;
}

.actionIcon {
  width: 16px;
  height: 16px;
}

@media only screen and (max-width: 600px) {
  .cardWrapper {
    min-width: 100% !important;
  }
}
