.pieChart {
  border-radius: 100%;
  width: 12px;
  aspect-ratio: 1;
  border: 1px solid var(--chakra-colors-orange-400);
}

.tagWrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 8px 0px 5px 0px;
}
